@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";
@import "katex/dist/katex.min.css";

.markdown-body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
    font-optical-sizing: auto !important;
}

.markdown-body > * {
    margin: 0 auto;
    padding: 45px;
    min-width: calc(200px * 8 / 7);
    max-width: calc(980px * 8 / 7);
}

code, kbd, samp {
    font-family: 'JetBrains Mono', 'monospace' !important;
    font-feature-settings: "calt" 0;
}

h1, h2, h3, h4, h5, h6 {
    @apply scroll-mt-4;
}

main ul > li {
    list-style-type: disc;
}

main ol > li {
    list-style-type: decimal;
}

img {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 16px;
    }
}